__pycache__/
.coverage
.idea/
.pytest_cache/
*.log
temp/
*.mp4
*.png
*.wdc
build/
dist/
swvo.egg-info/
venv/
*.ipynb
set_env_variables.sh
*.tmp
.vscode/settings.json
replace.sh
omni.sh
.coveragerc
cron_check.sh
swace_commented_code
docs/_build/*
docs/api/*
.nfs*
.env
