repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.12.11
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [--fix]
      # Run the formatter.
      - id: ruff-format

  # - repo: local
  #   hooks:
  #     - id: pyright-verifytypes
  #       name: pyright verifytypes
  #       entry: bash -c 'pip install . >/dev/null && pyright --verifytypes swvo --ignoreexternal'
  #       language: system
  #       types: [python]
  #       pass_filenames: false
