# SPDX-FileCopyrightText: 2025 GFZ Helmholtz Centre for Geosciences
#
# SPDX-License-Identifier: Apache-2.0

accessible-pygments
alabaster
argcomplete
asttokens
babel
beautifulsoup4
certifi
charset-normalizer
colorama
comm
contourpy
coverage
cycler
debugpy
decorator
deprecation
Distance
docutils
executing
fonttools
h5py
icecream
idna
imagesize
iniconfig
ipykernel
ipython
ipython_pygments_lexers
jedi
Jinja2
jupyter_client
jupyter_core
kiwisolver
linkify-it-py
markdown-it-py
MarkupSafe
mat73
matplotlib
matplotlib-inline
mdit-py-plugins
mdurl
myst-parser
nest-asyncio
numpy
numpydoc
packaging
pandas
parso
pexpect
pillow
pipx
platformdirs
pluggy
prompt_toolkit
psutil
ptyprocess
pure_eval
pydata-sphinx-theme
Pygments
pyparsing
pytest
pytest-cov
pytest-mock
python-dateutil
pytz
PyYAML
pyzmq
requests
roman-numerals-py
ruff
scipy
six
snowballstemmer
soupsieve
Sphinx
sphinx-copybutton
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
stack-data
tabulate
tornado
tqdm
traitlets
typing_extensions
tzdata
uc-micro-py
urllib3
userpath
wcwidth
wget
sphinx-github-changelog